.content-with-icon {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 20px 1fr;
}

.content-with-icon__content {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #3b3b3b;
}

.content-with-icon__title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
