$font-main: Proxima Nova, sans-serif;

$color-gray-90: #222;
$color-gray-75: #3b3b3b;
$color-gray-50: #808080;
$color-gray-30: #b9b9b9;
$color-gray-20: #cdcdcd;
$color-gray-10: #e5e5e5;
$color-gray-5: #f7f7f7;

$color-red-dark: #d95151;
$color-red-light: #f9919a;

$color-delimiter: $color-gray-10;

$tablet-width: 1024px;
$wide-width: 1366px;

$block-inside-padding: 16px;

$header-height: 100px;
$header-bottom-margin: 33px;
